****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

My Solution starts here

In [1]:
#Importing all required libraries
import json
import pandas as pd
from pandas.io.json import json_normalize

### Ask 1: Find the 10 countries with most projects ##
Start

In [182]:
#Reading JSON file using pandas Read Json
wb= pd.read_json(r'C:\Users\us40594\Downloads\datascience\Mini Project 1\1574117884_data_wrangling_json_5_\data_wrangling_json\data\world_bank_projects.json')
#Checking for null values in countryname and project_name to make sure we do not haveany missing values
wb.countryname.isna().any()
wb.project_name.isna().any()

False

In [31]:

#Using Groupby on countryname and sorting the count on project name in descending order
#Using Head method to get top 10 values after sorting

wb.groupby('countryname').count().sort_values(by='project_name',ascending=False)['project_name'].head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: project_name, dtype: int64

### Ask 1:  Find the 10 countries with most projects ###
End

### Ask 2: Find the top 10 major project themes (using column 'mjtheme_namecode')
Start

In [184]:
##Load the JSON file from disk 
Json_data=json.load((open(r'C:\Users\us40594\Downloads\datascience\Mini Project 1\1574117884_data_wrangling_json_5_\data_wrangling_json\data\world_bank_projects.json')))
##use normalize function to create table from nested element
p_theme = json_normalize(Json_data,'mjtheme_namecode')

In [185]:
#Check first 5 rows to get feel of data and if json normalize did its job
p_theme.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [186]:
#Check for presense of NULL values in name column
p_theme.name.isnull().any()

False

In [187]:
#Use Same groupby logic to get top 10 project theme values, but combing everything in one line code
p_theme.groupby('name').count().sort_values(by='code',ascending=False)['code'].head(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: code, dtype: int64

### Ask 2: Find the top 10 major project themes (using column 'mjtheme_namecode')
 End

### Ask 3: Create a dataframe with the missing names filled in.
 Start

In [188]:
#Check to make sure unique values for code ,name combination is either blank or 
# just one name(Which I can use to fill blankvalues) for each code 
#I would have also used count on top of this to make sure its 2 for each code if results would have been large
p_theme.drop_duplicates().sort_values(by='code')

    code                                          name
2      1                           Economic management
212    1
121   10
18    10                             Rural development
1     11
6     11  Environment and natural resources management
5      2                      Public sector governance
24     2
493    3
252    3                                   Rule of law
29     4
11     4      Financial and private sector development
4      5                         Trade and integration
201    5
3      6         Social protection and risk management
13     6
19     7
8      7                   Social dev/gender/inclusion
0      8                             Human development
17     8
333    9
53     9                             Urban development

In [189]:
#Create new data set containing only unique pairs for code and name column minus the missing values for name
p_theme_uniq=p_theme.drop_duplicates().sort_values(by='code')[p_theme.name != '']

C:\Users\us40594\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [190]:
##perform a inner join on ordiginal theme dataset to fill in missing values and select only code column and name column 
#from left dataset 
p_theme_clean=pd.merge(p_theme,p_theme_uniq,on='code')[['code','name_y']]

In [193]:
#check to make sure no missing values
p_theme_clean[p_theme_clean.name_y ==''].count()

code      0
name_y    0
dtype: int64

In [194]:
#Display p_theme_clean and make sure number of rown match 1499( same to original dataset p_theme)
p_theme_clean

     code             name_y
0       8  Human development
1       8  Human development
2       8  Human development
3       8  Human development
4       8  Human development
...   ...                ...
1494    3        Rule of law
1495    3        Rule of law
1496    3        Rule of law
1497    3        Rule of law
1498    3        Rule of law

[1499 rows x 2 columns]

### Ask 3: Create a dataframe with the missing names filled in. End

My Solution Ends here